* {
    box-sizing: border-box;
    font-family: Helvetica, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form {
    color: rgb(38, 38, 38);
    font-size: 12px;
}

.form-text {
    font-size: 12px;
    width: 200px;
    padding: 5px 10px;
    margin-top: 5px;
    border: 1.5px solid #FAFAFB;
    border-radius: 3px;
}

.form-text::placeholder {
    color: rgba(38, 38, 38, .5);
}

.medium {
    padding: 10px 10px !important;
    width: 200px !important;
}

.large {
    padding: 15px 13px !important;
    width: 200px !important;
}

.form-select {
    display: block;
    padding: 5px 10px;
    width: 130px;
    border: 1.5px solid #FAFAFB;
    border-radius: 3px;
    appearance: none;
    background-image: url('../Icons/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
}

.outline {
    background-color: #fff;
}

.filled {
    background-color: #FAFAFB;
}

.form-number {
    padding: 5px 0;
    background-color: rgba(38, 38, 38, .05);
    width: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
}

.form-number > button {
    padding: 0;
    background-color: rgba(38, 38, 38, 0);
    border: none;
    color: #33A0FF;
}

.form-voucher {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1.5px solid #FAFAFB;
    border-radius: 3px;
}

.form-voucher > input::placeholder {
    color: rgba(38, 38, 38, .5);
}

.form-voucher > input {
    width: 100%;
    height: 100%;
    border: none;
    padding-left: 10px;
}

.form-voucher > button {
    padding: 0 10%;
    width: 100px;
    height: 100%;
    border: none;
}

.form-voucher-small {
    width: 200px;
    height: 30px;
}

.form-voucher-large {
    width: 250px;
    height: 40px;
}

.form-checkbox {
    display: flex;
    align-items: center;
    font-size: 10px;
    color: #22262A;
    width: fit-content;
}

.form-checkbox input {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    margin: 0;
}

.checkmark {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14px;
    width: 14px;
    background-color: transparent;
    border: 1px solid #33A0FF;
    border-radius: 2px;
    margin-right: 8px;
}

.checkmark img {
    transform: scale(.7);
    margin: 0;
}


.black-check {
    border: 1px solid #22262A !important;
}

.checkmark::after {
    display: none;
    content: "";
}

.form-checkbox input:checked ~ .checkmark {
    background-color: #33A0FF;
}

.form-checkbox input:checked ~ .black-check {
    background-color: #22262A !important;
}

.form-checkbox input:checked ~ .checkmark::after {
    display: block;
}
