* {
    box-sizing: border-box;
}

form {
    font-family: Helvetica, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(38, 38, 38);
    font-size: 12px;
}

.form-text {
    font-size: 12px;
    width: 200px;
    padding: 5px 10px;
    margin-top: 5px;
    border: 1.5px solid #FAFAFB;
    border-radius: 3px;
}

.form-text::placeholder {
    color: rgba(38, 38, 38, .5);
}

.medium {
    padding: 10px 10px;
    width: 200px;
}

.large {
    padding: 15px 13px;
    width: 200px;
}

.form-select {
    display: block;
    padding: 5px 10px;
    width: 130px;
    border: 1.5px solid #FAFAFB;
    border-radius: 3px;
    appearance: none;
    background-image: url('../Icons/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
}

.outline {
    background-color: #fff;
}

.filled {
    background-color: #FAFAFB;
}

.form-number {
    padding: 5px 0;
    background-color: rgba(38, 38, 38, .05);
    width: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 10px;
}

.form-number > button {
    padding: 0;
    background-color: rgba(38, 38, 38, 0);
    border: none;
    color: #33A0FF;
}