/* Defaults */
button {
    border-radius: 1px;
    padding: 5px 25px;
    background-color: #22262A;
    color: #22262A;
    border: 1px solid #22262A;
    cursor: pointer;
}

img {
    margin-right: 5px;
}

.button-default:hover {
    background-color: #13161A;
}

.white-text {
    color: #FAFAFB !important;
}

/* Large Class */
.button-large {
    padding: 10px 50px;
}
/* Standard Classes */

.button-primary {
    background-color: #33A0FF;
    color: #33A0FF;
    border: 1px solid #33A0FF;
}

.button-danger {
    background-color: #FF4252;
    color: #FF4252;
    border: 1px solid#FF4252;
}

.button-success {
    background-color: #0AD00A;
    color: #0AD00A;
    border: 1px solid #0AD00A;
}

.button-warning{
    background-color: #FFC600;
    color: #FFC600;
    border: 1px solid #FFC600;
}

/* Hover Classes */
.button-primary-hover:hover {
    background-color: #2E90E5;
    border: 1px solid #2E90E5;
}

.button-danger-hover:hover {
    background-color: #F53848;
    border: 1px solid #F53848;
}

.button-success-hover:hover{
    background-color: #07C107;
    border: 1px solid #07C107;
}

.button-warning-hover:hover {
    background-color: #EBB600;
    border: 1px solid #EBB600;
}
.button-default-hover:hover {
    background-color: #13161A;
    border: 1px solid #13161A;
}


/* Outline Classes */
.button-outline {
    background-color: #FAFAFB !important;
}


/* Faded */
.button-primary-faded {
    background-color: rgba(51, 160, 255, .2) !important;
}

.button-danger-faded {
    background-color: rgba(255, 66, 82, .2) !important
}

.button-success-faded {
    background-color: rgba(10, 208, 10, .2) !important;
}

.button-warning-faded {
    background-color: rgba(255, 198, 0, .2) !important;
}
.button-default-faded {
    background-color: rgba(34, 38, 42, .2) !important;
}

.no-border {
    border: none;
}